body {
	background-color: #DEDCF1;
}
h1, h2 {
	background-color: #B5B1D9;
	text-align: center;
}
ul {
	display: block;
	margin-left: 43%;
}
ul>li{
	text-align: left;
}
a:hover {
	font-size: 120%;
}
a:visited {
	color: black;
}
footer {
	display: block;
	position: fixed;
	width: 50%;
	background-color: #615A9B;
	margin-left: 25%;
	bottom: 0;
	text-align: center;
}