body {
	background-color: #CACBCF;
}
h1, h2 {
	background-color: #0429CF;
	text-align: center;
	color: white;
}
h1 {
	position: fixed;
	top: 0;
}
ul {
	display: block;
	margin-left: 43%;
}
ul>li{
	text-align: left;
}
a {
	color: black;
}
a:hover {
	font-size: 120%;
}
a:visited {
	color: black;
}
footer {
	display: block;
	position: fixed;
	width: 50%;
	background-color: #00051A;
	margin-left: 25%;
	bottom: 0;
	text-align: center;
	color: white;
}