body {
	background-color: #DEDCF1;
}
h1, h2 {
	background-color: #B5B1D9;
	text-align: center;
}
ul {
	display: block;
	margin-left: 43%;
}
ul>li{
	text-align: left;
}
footer {
	display: block;
	width: 50%;
	background-color: #615A9B;
	margin-left: 25%;
	margin-top: 90%;
	text-align: center;
}