nav > ul {
	position: fixed;
    top: 0;
    width: 100%;
	height: 3em;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0429CF;
}
nav  li {
    float: left;
	border-right: 1px solid #bbb;
}

nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Verdana,Geneva,sans-serif;
	font-variant: small-caps;
}
nav li a:visited {
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	font-size: 120%;
}
a:visited {
	color: white;
}
body {
	background-color: lightgrey;
}
.muncher {
	width: 800px;
	height: 600px;
	margin-top: 4em;
}
.muncher img{
	float: left;
	padding-right: 1em;
}
.table {
	border: 1px solid black;
	display: table;
	width: 20em;
	height: 20em;
	margin: 2em;
}
.table > div {
	display: table-row;
	border: 1px solid black;
}
.table > div > div {
	display: table-cell;
	border: 1px solid black;
}
.omslag {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  
	font-weight: bold;
	text-align: center;
	margin-bottom: 3em;
}
.omslag > * {
	padding: 10px;
	flex: 1 100%;
}
.huvud {
	background-color: brown;
}
.foten {
	background-color: purple;
}
.innehall {
	background-color: yellow;
	height: 10em;
}
.navigation {
	background-color: green;
	height: 10em;
}
.sida {
	background-color: orange;
	height: 10em;
}
@media all and (min-width: 600px) {
	.navigation, .sida { flex: 1 auto;} 
}
@media all and (min-width: 800px) {
	.innehall { flex: 4 0px;}
	.navigation { order: 1;}
	.innehall { order: 2; }
	.sida { order: 3; }
	.foten { order: 4; }
}
footer {
	position: fixed;
	width: 50%;
	background-color: #00051A;
	margin-left: 25%;
	bottom: 0;
	text-align: center;
	color: white;
	font-size: 1.5em;
	opacity: 0.7;
}